.file {
  --file-size: 200px;

  min-width: var(--file-size);
  height: var(--file-size);
}

.image-block {
  display: flex;
}

.add-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed grey;
  margin-top: var(--xs-indent);
}

.delete-picture {
  position: absolute;
}

.delete-icon {
  color: white;
}

.icon {
  font-size: 30px;
}

.input-file {
  display: none;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
