.mat-grid-list {
  margin: var(--lg-indent) var(--sm-indent) var(--sm-indent);

  --item-min-height: 500px;
  --image-height: 272px;
}

.mat-grid-tile-container {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.item-paper {
  min-height: var(--item-min-height);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.title {
  font-size: 18px;
}

.description {
  font-size: 16px;
  -webkit-line-clamp: 4;
  white-space: pre-line;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: var(--image-height);
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--sm-indent) var(--md-indent);
  min-height: calc(var(--item-min-height) - var(--image-height) - 2 * var(--sm-indent));
}

.content-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: var(--s-indent);
}
