<app-filter-movie-tag
  *ngIf="!!allMovieTags.length"
  [allMovieTags]="allMovieTags"
  (changeEventUseFilterData)="onChangeUseFilterData($event)"
  (changeEventClearFilterData)="onChangeClearFilterData()"
>
</app-filter-movie-tag>

<mat-grid-list
  [appGridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}"
  rowHeight="500px"
  gutterSize="40px"
  class="mat-grid-list"
>
  <mat-grid-tile *ngFor="let movie of movies" class="mat-grid-tile-container">
    <div (click)="onClickMovie(movie.idMovie)" class="item-paper">
      <div [style.backgroundImage]="'url('+ getFilePath(movie?.pictureUrl) +')'" class="image"></div>
      <div class="content">
        <div class="content-text">
          <p class="text title">
            {{ movie.name }}
          </p>
          <p class="text description">
            {{ movie.description }}
          </p>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
