.mat-grid-list {
  margin: 40px 24px 24px;
}

.mat-grid-tile-container {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.item-paper {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.title {
  font-size: 18px;
}

.description {
  font-size: 16px;
  -webkit-line-clamp: 4;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 272px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
}

.content-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 16px;
}
