.mat-card {
  max-width: 940px;
  width: 100%;
  padding: 24px;
}

.mat-card-content-review {
  margin-bottom: 40px;
}

.item-paper {
  display: flex;
}

.image {
  max-height: 272px;
  max-width: 40%;
  margin: 0;
}

.image:first-child {
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 40px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.title {
  font-size: 18px;
  cursor: pointer;
}

.description {
  font-size: 16px;
  -webkit-line-clamp: 5;
}

