@import "src/app/const-styles";

.dialog-container {
  width: $dialog-width;

  .form-element {
    padding: $xs-indent 0 $s-indent 0;
    width: 100%;
  }

  .dialog-actions {
    justify-content: flex-end;
  }
}

::ng-deep .mat-select-panel-wrap {
  margin-left: 15px;
}
