.dialog-container {
  width: 600px;
}

.form-element {
  padding: 8px 0 16px 0;
  width: 100%;
}

.dialog-actions {
  justify-content: flex-end;
}

::ng-deep .mat-select-panel-wrap {
  margin-left: 15px;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 244px;
  height: 244px;
}
