<div class="dialog-container">
  <h2 mat-dialog-title>{{title}}</h2>
  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <mat-form-field class="form-element">
        <label>
          <input matInput name="name" formControlName="name" placeholder="Название" required/>
        </label>
        <mat-error>
          Поле названия обязательно к заполнению
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            name="description"
            formControlName="description"
            placeholder="Описание"
          >
          </textarea>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-select multiple formControlName="movieTags" placeholder="Жанр" [compareWith]="compareByValue">
          <mat-option *ngFor="let item of allMovieTags" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-upload-image
        [previewUrl]="previewUrl"
        (changeImageFile)="setImageFile($event)"
        (changePreviewUrl)="setPreviewUrl($event)"
      >
      </app-upload-image>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onClose()">Отмена</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">Сохранить</button>
  </mat-dialog-actions>
</div>
