<div class="dialog-container">
  <h2 mat-dialog-title>{{title}}</h2>
  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <mat-form-field class="form-element">
        <label>
          <input matInput name="login" formControlName="login" placeholder="Логин"/>
        </label>
        <mat-error *ngIf="!formGroup.controls['login'].valid && formGroup.controls['login'].touched">
          {{ getErrorLogin() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <input matInput name="password" formControlName="password" placeholder="Пароль" type="password"/>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <input matInput name="name" formControlName="name" placeholder="Имя"/>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <input matInput name="surname" formControlName="surname" placeholder="Фамилия"/>
        </label>
      </mat-form-field>

      <app-upload-image
        [previewUrl]="previewUrl"
        (changeImageFile)="setImageFile($event)"
        (changePreviewUrl)="setPreviewUrl($event)"
      >
      </app-upload-image>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onClose()">Отмена</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">Сохранить</button>
  </mat-dialog-actions>
</div>
