.title {
  outline: none;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 var(--sm-indent);
}

.main-container {
  height: calc(100% - var(--sidebar-height));
}

.mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.icon {
  margin-right: var(--xs-indent);
}
