@import "src/app/const-styles";

.mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;

  ::ng-deep .mat-drawer-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .icon {
    margin-right: $xs-indent;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 $sm-indent;
  }

  .title {
    outline: none;
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .slide-toggle {
    margin-right: $s-indent;
  }

  .main-container {
    height: calc(100% - #{$sidebar-height});
  }
}
