<mat-toolbar color="primary">
  <!--  <button mat-icon-button>-->
  <!--    <mat-icon>menu</mat-icon>-->
  <!--  </button>-->
  <span (click)="onClickHomePage()" class="title">Фильмы</span>
  <div class="spacer"></div>

  <div *ngIf="authorized$ | async; else elseBlock">
    <button mat-icon-button (click)="onClickUserProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

  <ng-template #elseBlock>
    <button mat-icon-button (click)="onClickLoginPage()">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
