.movies-container {
  display: flex;
  flex-direction: column;
  margin: var(--lg-indent) var(--sm-indent) var(--sm-indent);
}

.add-button {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin-bottom: var(--s-indent);
}
