@import "src/app/const-styles";

.movies-container {
  display: flex;
  flex-direction: column;
  margin: $lg-indent $sm-indent $sm-indent;

  .add-button {
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin-bottom: $s-indent;
  }
}
