<div class="container">
  <mat-card
    *ngIf="!!movie?.idMovie"
    class="mat-card first"
  >
    <mat-card-content>
      <div>
        <h1>{{movie?.name}}</h1>
        <p>{{movie?.description}}</p>
        <img mat-card-image [src]="getFilePath(movie?.pictureUrl)" alt="Photo" class="image">
      </div>

      <div *ngIf="!!movie?.movieTags.length" class="movie-tags-container">
        <h2>Жанр фильма</h2>
        <mat-chip-list>
          <mat-chip selected color="primary" *ngFor="let item of movie?.movieTags">
            {{item.name}}
          </mat-chip>
        </mat-chip-list>
      </div>

      <app-movie-rating
        [idMovie]="movie?.idMovie"
        [idUser]="idUser"
        [authorized$]="authorized$"
      >
      </app-movie-rating>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!!reviews.length || (authorized$ | async)" class="mat-card">
    <app-movie-reviews
      [reviews]="reviews"
      (deleteReviewEventData)="onDeleteReview($event)"
      (changeEventData)="onChangeReviewData()"
    >
    </app-movie-reviews>
    <app-movie-add-review
      [idMovie]="idMovie"
      [idUser]="idUser"
      [authorized$]="authorized$"
      (changeEventData)="onChangeReviewData()"
    >
    </app-movie-add-review>
  </mat-card>
</div>
