<div class="container">
  <mat-card
    *ngIf="!!movie?.idMovie"
    class="mat-card first"
  >
    <mat-card-content>
      <div class="item-paper">
        <div [style.backgroundImage]="'url('+ getFilePath(movie?.pictureUrl) +')'" class="image"></div>
        <div class="content">
          <h1>{{movie?.name}}</h1>
          <p class="movie-description">{{movie?.description}}</p>

          <div *ngIf="!!movie?.movieTags.length" class="movie-tags-container">
            <h2>Жанр фильма</h2>
            <mat-chip-list>
              <mat-chip selected color="primary" *ngFor="let item of movie?.movieTags">
                {{item.name}}
              </mat-chip>
            </mat-chip-list>
          </div>

          <app-movie-rating
            [idMovie]="movie?.idMovie"
            [idUser]="idUser"
            [authorized$]="authorized$"
          >
          </app-movie-rating>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!!reviews.length || (authorized$ | async)" class="mat-card">
    <app-movie-reviews
      [reviews]="reviews"
      (deleteReviewEventData)="onDeleteReview($event)"
      (changeEventData)="onChangeReviewData()"
    >
    </app-movie-reviews>
    <app-movie-add-review
      *ngIf="!!currentUser?.idUser && !!movie"
      [idMovie]="idMovie"
      [user]="currentUser"
      [authorized$]="authorized$"
      (changeEventData)="onChangeReviewData()"
    >
    </app-movie-add-review>
  </mat-card>
</div>
