.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: var(--lg-indent) var(--sm-indent) var(--sm-indent);

  --image-size: 244px;
}

.mat-card {
  max-width: var(--max-page-content-width);
  width: 100%;
  padding: var(--sm-indent);
  margin-bottom: 100px;
}

.mat-card-content-container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  padding-right: var(--s-indent);
  padding-left: var(--lg-indent);
  width: 100%;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: var(--image-size);
  height: var(--image-size);
}

.user-first-row {
  display: flex;
  justify-content: space-between;
}

.item-info {
  display: flex;
}

.capture {
  color: #657295;
}
