.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 40px;
}

.mat-card {
  max-width: 940px;
  width: 100%;
}

.user-first-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
