<div class="container">
  <mat-card class="mat-card first">
    <mat-card-content>
      <div class="user-first-row">
        <div class="item-info">
          <h3 class="capture">Имя: &nbsp;</h3>
          <h3>{{user?.name}}</h3>
        </div>
        <button mat-stroked-button (click)="onClickUserEdit()">
          Редактировать
        </button>
      </div>
      <div>
        <div class="item-info">
          <h3 class="capture">Фамилия: &nbsp;</h3>
          <h3>{{user?.surname}}</h3>
        </div>
        <div class="item-info">
          <h3 class="capture">Логин: &nbsp;</h3>
          <h3>{{user?.login}}</h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="reviewMovies.length" class="mat-card second">
    <h3>Оценённые фильмы</h3>

    <mat-card-content *ngFor="let item of reviewMovies">
      <div class="item-paper">
        <img mat-card-image src="https://cutt.ly/1gKTqzl" alt="Photo" class="image">
        <div class="content">
          <p class="text title" (click)="onClickMovie(item?.idMovie)">
            {{ item?.name }}
          </p>
          <p class="text description">
            {{ item?.description }}
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
