@import "src/app/const-styles";

$image-size: 244px;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: $lg-indent $sm-indent $sm-indent;

  .mat-card {
    max-width: $max-page-content-width;
    width: 100%;
    padding: $sm-indent;
    margin-bottom: 100px;

    .mat-card-content-container {
      display: flex;

      .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-width: $image-size;
        height: $image-size;
      }

      .content {
        display: flex;
        flex-direction: column;
        padding-right: $s-indent;
        padding-left: $lg-indent;
        width: 100%;

        .user-first-row {
          display: flex;
          justify-content: space-between;
        }

        .item-info {
          display: flex;
        }

        .capture {
          color: #657295;
        }
      }
    }
  }
}
