.review-container {
  margin-bottom: 40px;
}

.review-card {
  display: flex;
  margin-bottom: 60px;
}

.content {
  display: flex;
  padding-right: 16px;
  padding-left: 40px;
  width: 100%;
  justify-content: space-between;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.review {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.review-text {
  max-width: 70%;
  white-space: pre-line;
}

.review-date {
  color: #9e9e9e;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  min-width: 80px;
  height: 80px;
}
