@import "src/app/const-styles";

$user-image-size: 80px;

.review-container {
  margin-bottom: $lg-indent;

  .review-card {
    display: flex;
    margin-bottom: 60px;

    .image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      min-width: $user-image-size;
      height: $user-image-size;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding-right: $s-indent;
      padding-left: $lg-indent;
      width: 100%;
      justify-content: space-between;

      .item-info {
        display: flex;
        justify-content: space-between;
      }

      .review {
        display: flex;
        justify-content: space-between;
        margin-top: $sm-indent;

        .review-text {
          max-width: 70%;
          white-space: pre-line;
        }

        .review-date {
          color: #9e9e9e;
        }
      }
    }
  }
}
