.review-container {
  margin-bottom: var(--lg-indent);

  --user-image-size: 80px;
}

.review-card {
  display: flex;
  margin-bottom: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-right: var(--s-indent);
  padding-left: var(--lg-indent);
  width: 100%;
  justify-content: space-between;
}

.item-info {
  display: flex;
  justify-content: space-between;
}

.review {
  display: flex;
  justify-content: space-between;
  margin-top: var(--sm-indent);
}

.review-text {
  max-width: 70%;
  white-space: pre-line;
}

.review-date {
  color: #9e9e9e;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  min-width: var(--user-image-size);
  height: var(--user-image-size);
}
