<mat-card-content *ngIf="!!reviews.length" class="review-container">
  <h2>Рецензиии пользователей</h2>
  <div *ngFor="let item of reviews" class="review-card" (click)="selectItem(item)">
    <div [style.backgroundImage]="'url('+ getFilePath(item.user.pictureUrl) +')'" class="image"></div>
    <div class="content">
      <div class="item-info">
        <h3>{{item.user.login}}</h3>
        <button
          *ngIf="(authorized$ | async) && isCheckAccess(item)"
          mat-icon-button
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="menu"
          (click)="menuTrigger.openMenu()"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div class="review">
        <p class="review-text">{{item?.text}}</p>
        <h4 class="review-date">{{item.date}}</h4>
      </div>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="isCurrentUser(this.selectedItem)" (click)="updateItem()">Редактировать</button>
    <button mat-menu-item (click)="deleteItem()">Удалить</button>
  </mat-menu>
</mat-card-content>
