<div *ngIf="movieRating?.count >= 0" class="rating-container">
  <h2>Рейтинг фильма</h2>

  <div class="rating-content">
    <div class="rating-info">
      <star-rating-control
        [hoverEnabled]="true"
        [numOfStars]="5"
        [showHalfStars]="true"
        [rating]="rating || 0"
        (starClickChange)="onClickChange($event)"
      >
      </star-rating-control>
      <h3 class="rating-number">{{movieRating?.rating}} ({{movieRating?.count}} чел.)</h3>
    </div>
    <div *ngIf="!!movieRatingByIdUser" class="user-rating-content">
      <h4>Моя оценка: {{movieRatingByIdUser.rating}}</h4>
      <button
        mat-stroked-button
        (click)="onDeleteRating(movieRatingByIdUser.idMovieRating)"
        class="delete-button"
      >
        Удалить
      </button>
    </div>
  </div>
</div>
