.rating-container {
  margin-top: 40px;
}

.rating-content {
  display: flex;
}

.rating-info {
  display: flex;
  flex-direction: column;
}

.rating-number {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 0;
}
