<div *ngIf="movieRating?.count >= 0" class="rating-container">
  <h2>Рейтинг фильма</h2>

  <div class="rating-content">
    <app-star-rating
      [rating]="movieRating?.rating"
      [starCount]="5"
      (ratingUpdated)="onRatingChanged($event)"
    >
    </app-star-rating>
    <h3 class="rating-number">{{movieRating?.rating}} ({{movieRating?.count}} чел.)</h3>
<!--    <h4 *ngIf="!!movieRatingByIdUserAndIdMovie.rating">Моя оценка {{movieRatingByIdUserAndIdMovie.rating}}</h4>-->
  </div>
</div>
