.rating-container {
  margin-top: var(--lg-indent);
}

.rating-content {
  display: flex;
  flex-direction: column;
}

::ng-deep .rating {
  outline: none;
}

::ng-deep .star-container {
  margin-left: 0;
}

::ng-deep .star {
  cursor: pointer;
}

.rating-info {
  display: flex;
}

.rating-number {
  display: flex;
  align-items: center;
  margin-left: var(--s-indent);
  margin-bottom: 0;
}

.user-rating-content {
  display: flex;
  align-items: baseline;
  margin-top: var(--xs-indent);
}

.delete-button {
  margin-left: var(--s-indent);
}
